html{
    font-family: tahoma
}
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
center{
    background-color: rgba(230,230,230);
    opacity: 0.5;
    text-align: center;
    position: relative;
    font-size: 80px;
    cursor: copy;
    left:0px;
    right:0px;
    top;0px;
    
}
#background{;
    zoom: 2.1;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left:0px;
}
#contacts{
    width: 500px;
    margin: auto;
    background-color: rgba(230,230,230);
    opacity: 0.5;
}
a{
    padding: 30px;
    
}
#main_body{
    background-color: rgba(230,230,230);
    opacity: 0.5;
    position: relative;
    width: 1250px;
    margin:auto;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
}
#paragraph{
    font-size: 20px;
    padding: 20px;
}
ul li{
    font-size:20px;
    line-height: 30px;
}
#profilepic{
    width: 300px;
    border-radius: 75%;
    position: relative;
    margin-left: 40%;
}
.container {
  width: 100%; 
  background-color: white; 
}
.skills {
    text-align: right;
    padding: 10px; 
    color: white; 
}

.python {
    width: 90%;
    background-color: gray;
    padding: 10px;
}
.C{
    background-color: gray;
    width: 70%;
    padding: 10px;
}
.javascript{
    background-color: gray;
    padding: 10px;
    width: 80%;
}
.web{
    background-color: gray;
    padding: 10px;
    width: 30%;
}

#skillbars{
    margin: auto;
    background-color: rgba(230,230,230);
    opacity: 0.5;
    width: 1210px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}