html{
    font-family: tahoma;
    scroll-behavior: smooth;
}
#navbar{
    background-color: rgba(230,230,230);
    opacity: 0.5;
    align-content: center;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    overflow: hidden;
}
.navbutton{
    background-color: white;
    text-decoration:none;
    color: gray;
    font-size: 30px;
    padding-top: 20px;
    background: rgba(270,270,270);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#profilepic{
    width: 300px;
    border-radius: 75%;
    position: relative;
    margin-left: 40%;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
#profilepic:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
}
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
center{
    background-color: rgba(230,230,230);
    opacity: 0.5;
    text-align: center;
    position: relative;
    font-size: 80px;
    cursor: copy;
    left:0px;
    right:0px;
    top;0px;
    
}
#background{;
    zoom: 2.1;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left:0px;
}

#main_body{
    background-color: rgba(230,230,230);
    opacity: 0.5;
    position: relative;
    width: 1150px;
    margin:auto;
    line-height: 55px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}
#paragraph{
    font-size: 30px;
    width: 1150;
    padding-left: 50px;
    padding-right: 50px;
}
#organizations{
    background-color: rgba(230,230,230);
    opacity: 0.5;
    position: relative;
    width: 1150px;
    margin:auto;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}

.orgs{
    list-style-type:disc;
    font-size:40px;
    line-height: 70px;
    padding-bottom: 20px;
    padding-top: 20;
}

.container {
    width: 100%; 
    background-color: white; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.skills {
    text-align: right;
    color: white; 
}
#skillbars{
    margin: auto;
    background-color: rgba(230,230,230);
    opacity: 0.5;
    width: 1150px;
    padding-bottom: 50px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}

.python {
    width: 90%;
    background-color: gray;
    padding: 10px;
}
.C{
    background-color: gray;
    width: 60%;
    padding: 10px;
}
.javascript{
    background-color: gray;
    padding: 10px;
    width: 75%;
}
.web{
    background-color: gray;
    padding: 10px;
    width: 30%;
}
.ruby{
    background-color: gray;
    padding: 10px;
    width: 20%;
}
.octave{
    background-color: gray;
    padding: 10px;
    width: 20%;
}


h3{
    font-size: 20px;
}

.jsstuff{
    font-size: 25px;
    list-style: disc;
}
.libraries{
    font-size: 25px;
    list-style: disc;
}
a{
    padding-left:50px; 
    padding-right:50px;
    transition: all 0.5s ease-in-out;
}

.contacts{
    border-radius: 25px;
    font-size: 64px;
    width: 700px;
    margin: auto;
    background-color: rgba(230,230,230);
    opacity: 0.5;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
i{
    color: black;
}
i:hover{
    color: gray;
    transform: scale(1.5);
}